<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!-- 注解扫描-->

    <context:component-scan base-package="com.ztc.controller"></context:component-scan>
<!-- 文件上传   -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--  set the max upload size100MB     -->
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>

    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="characterEncoding" value="utf-8"></property>
        <!--prefix，用于指定template所在目录；-->
        <property name="prefix" value=""></property>
        <!--suffix，过滤请求，这里是处理所有以.html结尾的请求；-->
        <property name="suffix" value=".html"></property>
        <!--是否缓存页面，开发时设置为false，这样就可以在不重启服务器的情况下刷新页面即可查看修改效果；-->
        <property name="cacheable" value="false"></property>
        <!--templateMode，设置为html；-->
        <property name="templateMode" value="HTML"></property>
    </bean>

    <!--配置模板引擎-->
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"></property>
    </bean>

    <!--视图解析器-->
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <!--解决中文乱码-->
        <property name="characterEncoding" value="utf-8"></property>
        <property name="templateEngine" ref="templateEngine"></property>
    </bean>


    <mvc:annotation-driven/>
</beans>